
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

ul,
ol,
li {
    list-style: none;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    height: 100%;
    
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1rem;
    line-height: 22px;
    /* background-color: #1E1E1E; */
    
}

.page-wrapper {
    min-height: 100%;
    overflow: hidden;
    /* background-color: #FFFFFF; */
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

/* subheader-search */
/* =================== */
.subheader-search {
    width: 100%;
    color:  #FFFFFF;
     
    background-color: #333333;
}

.subheader-search-wrapped {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 8px 0; 
}

.subheader-search-wrapped-contact {
    align-items: center;
    padding: 15px 0;
    /* text-align: center; */
    /* display: flex; */
    /* margin-right: 69px; */
    /* flex-direction:row; */
}
.subheader-img-location {
    margin-right: 8px;
    vertical-align: text-bottom;
}

.subheader-location {
    margin-right: 25px;

    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
    
}

.subheader-img-phone{
    margin-right: 8px;
    vertical-align: text-bottom;
}

.subheader-phone-number{
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
}
.subheader-phone-number:hover {
    text-decoration: underline;
}

.subheader-search-wrapped-input {
     padding: 15px 15px;
}

.input-wrapped{
    position: relative;
    width: 100%;
    min-width: 680px;
    
}    

.search-input {
    display:block;
    width: 100%;
    padding: 9px 24px;

    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    color: #454545;
    
    height: 32px;

    border: 0;
    background-color: #DCE1E6;
    border-radius: 4px;

  
}

.search-input::placeholder{
    color: #888888;
}

.btn-search {
    width: 70px;
    height: 32px;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #333333;
    
    cursor: pointer;
    background: #00EA90;
    border: 1px solid #00EA90;
    border-radius: 0px 4px 4px 0px;
    position: absolute;
    z-index: 1;
    right: 0;

}

.subheader-wrapped-login{
    padding: 15px 15px 15px 15px;
}

.subheader-wrapped-login-link{
    width: 134px;
    height: 32px;
    
    cursor: pointer;
    border: 1px solid #888888;
    border-radius: 4px;

    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;

    display: flex;
    flex-wrap: nowrap;
 
}

.login-key{
    padding-left: 30px;
    padding-right: 13px;
    padding-top: 5px;
    /* padding: 9px 24px; */
}
.login-text{

    padding-right: 4px;
    padding-top: 4px;
    vertical-align: middle;
}

/* media to subheader-search*/
/* ================================ */

@media (max-width: 1250px) {
    .input-wrapped {
        min-width: 340px;  
    }
}

@media (max-width: 927px) {
    .subheader-wrapped-login{
        padding: 15px 0;
    }
}

@media (max-width: 763px) {
    .subheader-phone-number{
        font-size: 15px;
        font-weight: 700;
        line-height: 22px;
        color: #FFFFFF;
    }
    .subheader-search-wrapped-input {
    padding: 0 15px 0 0 ;
    }
}


@media (max-width: 390px) {
    .input-wrapped {
        min-width: 300px;  
    }
    .subheader-location {
        display: none;
        
    }
    .subheader-phone-number{
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
    }
    .subheader-search-wrapped-contact {
        padding: 5px 0;
    }
    .subheader-search-wrapped-input {
        padding: 15px 0;
    }
   .subheader-wrapped-login {
        padding: 0 0 15px;
    }

}

@media (max-width: 350px) {
    .input-wrapped {
        min-width: 250px;  
    }
    .subheader-phone-number{
        display: none;
    }
}


/* subheader-main */
/* =================================== */

.subheader-main{
    width: 100%;
    color:  #FFFFFF;
     
    background-color: #0C192B;
}

.subheader-main-wrapped{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    vertical-align: middle;

    padding: 10px 0; 
}

/* === lOGO ==== */
 
.header-logo-link{
    font-size: 38px;
    font-weight: 600;
    line-height: 22px;
    color: #FFFFFF;
    padding-right: 20px;
}

.main-logo{
    vertical-align: middle;
}


/* === navmenu === */

.main-menu-list {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction:row; */
    justify-content: space-between;
    width: 100%;
    /* min-width: 617px; */
    padding-right: 20px;
    /* padding-top: 15px; */
}

.main-menu_link {
    color:#FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
}

.main-menu-item:not(:last-child) {
    margin: 0 64px 0 0;
}

/* ==== basket items ===== */

.basket-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    /* width: 100%;
    min-width: 183px;  */
}


.button-buy-value {
    min-width: 137px;
    min-height: 48px;

    font-family: inherit;
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: #333333;
    
    cursor: pointer;
    background: #00EA90;
    border: 1px solid #00EA90;
    border-radius: 4px ;
    padding: 12px 18px;
}
.img-basket-picture {

    padding-right: 5px;
    vertical-align: text-bottom;
}



.button-buy-link {
    margin-left: 40px;
 
}
.img-star {
    margin-left: 40px;
 
}

/* media to subheader-main*/
/* ================================ */


@media (max-width: 1131px) {
    .basket-items {
        padding-top: 15px;
    }
}

@media (max-width: 848px) {
    .nav-menu {
        padding-top: 15px;
    }
    .main-menu-item:not(:last-child) {
        margin: 0 25px 0 0;
    }
    .main-logo {
        display: none;
    }
}

@media (max-width: 659px) {
    .header-logo-link {
        display: none;
    }
    .main-menu_link {
        font-weight: 500;
        font-size: 22px;
        line-height: 22px;
    }
}

@media (max-width: 549px) {

    .main-menu-list {
        flex-direction:column;
        text-align: center;
        vertical-align: middle;
    }
    .main-menu-item:not(:last-child) {
        margin: 0;
    }
    .main-menu_link {
        font-weight: 500;
        font-size: 30px;
        line-height: 60px;
    }
}

@media (max-width: 350px) {
    .schedule, .img-star {
        display: none;
    }
    .button-buy-link {
        margin: 0;
    }
}

@media (max-width: 304px) {

}


/* временно отлючил стили для меню*/
/* ========================= */
.sub-menu-list {
    display: none;
}

/* стилизация выпадающего меню */
/* ============================ */