@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500;600;700&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

.page {
    max-width: 1920px;
    height: 100vh;
    margin: 20px auto;
}

.subheader-search {
    width: 100%;
    padding: 17px 0;
    color:  #FFFFFF;
     
    background-color: #333333;
}

.subheader-search-wrapped {
    padding-left: 320px;
    display: flex;
    flex-direction:row;
    /* justify-content: space-between; */

    text-align: center;
}

.subheader-search-wrapped-contact {
    display: flex;
    margin-right: 69px;
    /* flex-direction:row; */
}
.subheader-img-location {
    position: relative;
    left: -8px;
}

.subheader-img-location-text {
    margin-right: 25px;
}
.subheader-img-phone{
    margin-right: 8px;
}

.subheader-search-wrapped-input {
    margin-right: 69px;
}

.search-input {
    width: 549px;
    height: 24px;
}
.btn-login{

}