
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    height: 100%;
    
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1rem;
    line-height: 22px;
    /* background-color: #1E1E1E; */
    
}

.page-wrapper {
    min-height: 100%;
    overflow: hidden;
    
    /* background-color: #FFFFFF; */
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.subheader-search {
    width: 100%;
    color:  #FFFFFF;
     
    background-color: #333333;
}

.subheader-search-wrapped {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 8px 0; 
}

.subheader-search-wrapped-contact {
    align-items: center;
    padding: 15px;
    /* text-align: center; */
    /* display: flex; */
    /* margin-right: 69px; */
    /* flex-direction:row; */
}
.subheader-img-location {
    margin-right: 8px;
}

.subheader-location {
    margin-right: 25px;

    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
    
}

.subheader-img-phone{
    margin-right: 8px;
}

.subheader-phone-number{
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
}
.subheader-phone-number:hover {
    text-decoration: underline;
}

.subheader-search-wrapped-input {
     padding: 15px 15px;
}

.input-wrapped{
    position: relative;
    width: 100%;
    min-width: 680px;
    
}    

.search-input {
    display:block;
    width: 100%;
    padding: 9px 24px;

    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    color: #454545;
    
    height: 32px;

    border: 0;
    background-color: #DCE1E6;
    border-radius: 4px;

  
}

.search-input::placeholder{
    color: #888888;
}

.btn-search {
    width: 70px;
    height: 32px;

    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #333333;
    
    cursor: pointer;
    background: #00EA90;
    border: 1px solid #00EA90;
    border-radius: 0px 4px 4px 0px;
    position: absolute;
    z-index: 1;
    right: 0;

}

.subheader-wrapped-search{
    padding: 15px 15px 15px 15px;
}

.subheader-search-wrapped-login{
    width: 134px;
    height: 32px;
    
    cursor: pointer;
    border: 1px solid #888888;
    border-radius: 4px;

    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 22px;

    display: flex;
    flex-wrap: nowrap;
 
}

.login-key{
    padding-left: 30px;
    padding-right: 13px;
    padding-top: 5px;
    /* padding: 9px 24px; */
}
.login-text{

    padding-right: 4px;
    padding-top: 4px;
    vertical-align: middle;
}

@media (max-width: 1250px) {
    .input-wrapped {
        min-width: 340px;  
    }
}

@media (max-width: 763px) {
.subheader-phone-number{
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
    }
}

@media (max-width: 390px) {
    .input-wrapped {
        min-width: 300px;  
    }
    .subheader-location {
        display: none;
        
    }
    .subheader-phone-number{
        font-size: 20px;
        font-weight: 700;
        line-height: 22px;
    }
    .subheader-search-wrapped-contact {
        padding: 5px 0;
    }
    .subheader-search-wrapped-input {
        padding: 15px 0;
    }
   .subheader-wrapped-search {
        padding: 15px 0;
    }

}

@media (max-width: 350px) {
    .input-wrapped {
        min-width: 250px;  
    }
}


/* subheader-main */
/* ================ */

.subheader-main{
    width: 100%;
    color:  #FFFFFF;
     
    background-color: #0C192B;
}

.subheader-main-wrapped{
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 24px 0; 
}